@charset "utf-8";

header {
  height: 100vh;
}
header .header-text h1 {
  font-size: 180px;
  margin-bottom: 35px;
}
header .header-text h1:hover {
  cursor: url("../assets/images/free-icon-cursor-491866.png"), auto;
}
header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-text a {
  display: block;
  transition: 0.3s;
}
header .header-text a:hover {
  transform: scale(1.1);
}
header .header-text ul {
  font-family: var(--main-font-ko);
  line-height: 1.5;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
}
header .header-text span {
  display: block;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.5;
}
header .header-text span:nth-child(4) {
  font-family: var(--main-font-ko);
  font-size: 18px;
  font-weight: 400;
}
.header-line-bottom {
  background-color: var(--point-color);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* section */
section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s, transform 1.5s;
}
section.active {
  opacity: 1;
  transform: translateY(0);
}

/* view-btn */
.view-btn {
  font-family: var(--main-font-ko);
  display: block;
  border: 1px solid var(--point-color);
  border-radius: 40px;
  background-color: var(--main-color);
  width: 150px;
  height: 70px;
  margin: 100px auto;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  transition: 0.5s;
}
.view-btn:hover {
  background-color: var(--point-color);
  color: var(--main-color);
}

/* project title */
.title {
  padding-bottom: 70px;
}
.title h2 {
  font-size: 50px;
}
.title p {
  font-weight: 300;
  margin-top: 30px;
}
.title p span {
  display: block;
  font-weight: 200;
}

/* overview */
.overview {
  margin: 200px 0 250px;
}
.overview p {
  font-family: var(--main-font-ko);
}
.overview .view-btn {
  margin: 150px auto 0;
}
.overview .overview-list {
  margin: 0 100px;
  border-top: 1px solid var(--point-color);
  /* border-bottom: 1px solid var(--point-color); */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.overview .overview-list .overview-goal,
.overview .overview-list .overview-type,
.overview .overview-list .overview-tool,
.overview .overview-list .overview-team {
  font-size: 25px;
  width: 50%;
  height: 500px;
  text-align: left;
  padding: 100px 30px;
  font-family: var(--main-font-ko);
  font-weight: 300;
  box-sizing: border-box;
}
.overview .overview-list h3 {
  font-size: 40px;
  font-weight: 200;
  background-color: var(--point-color);
  color: #fff;
  width: fit-content;
  height: 45px;
}
.overview .overview-list .overview-goal ul,
.overview .overview-list .overview-type ul,
.overview .overview-list .overview-tool ul,
.overview .overview-list .overview-team ul {
  margin-top: 40px;
}
.overview .overview-list .overview-goal ul li,
.overview .overview-list .overview-type ul li,
.overview .overview-list .overview-tool ul li,
.overview .overview-list .overview-team ul li {
  margin: 30px 0;
  line-height: 1.5;
}
.overview-line {
  padding: 0;
  width: 1px;
  height: 1510px;
  background-color: var(--point-color);
  position: absolute;
  top: 755px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overview-middle-line {
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: var(--point-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* text-arrow */
.text-arrow {
  font-weight: 300;
  margin-bottom: 10px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

/* design-container */
.design-container {
  background: linear-gradient(
    #4a5644,
    #d9d9d9,
    #717d6c,
    #d9d9d9 48%,
    #717d6c,
    #d9d9d9,
    #4a5644
  );
  padding: 170px 50px;
}
.design-text {
  color: var(--main-color);
}
.design-text h2 {
  font-size: 60px;
}
.design-text p {
  font-family: var(--main-font-ko);
  font-weight: 300;
  font-size: 18px;
  margin-top: 40px;
}
.design-img {
  background-color: #ddd;
  margin: 200px auto;
}

/* style-guide */
.style-guide {
  position: relative;
}
.style-guide .design-img {
  width: 770px;
  height: 1000px;
  filter: blur(4px) grayscale(1);
}
.style-guide .design-img img {
  width: 100%;
  height: 100%;
}
.style-guide li {
  text-align: left;
  font-family: var(--main-font-ko);
  font-weight: 300;
  font-size: 30px;
  background-color: var(--point-color);
  color: #fff;
  width: fit-content;
  height: 38px;
}
.style-guide li:nth-child(1),
.style-guide li:nth-child(2),
.style-guide li:nth-child(3),
.style-guide li:nth-child(4) {
  position: absolute;
}
.style-guide li:nth-child(1) {
  top: 450px;
  left: 150px;
}
.style-guide li:nth-child(2) {
  top: 630px;
  right: 0;
}
.style-guide li:nth-child(3) {
  top: 870px;
  left: 0;
}
.style-guide li:nth-child(4) {
  top: 1100px;
  right: 100px;
}

/* design-concept */
.design-concept {
  position: relative;
}
.marker {
  width: 40%;
  position: relative;
}
.marker span:nth-child(1) {
  display: block;
  background-color: var(--point-color);
  width: 100%;
  height: 1px;
}
.marker span:nth-child(2) {
  display: block;
  border: 1px solid var(--point-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -40px;
}

.design-concept .design-img {
  width: 770px;
  height: 770px;
  filter: grayscale(1);
  overflow: hidden;
  transition: 1s;
}
.design-concept .design-img:hover {
  filter: grayscale(0);
}
.design-concept .design-img img {
  width: 100%;
}
.design-concept .design-text-box1 {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 380px;
  left: 0;
}
.design-concept .design-text-box1 .text span {
  display: block;
  background-color: #fff;
  width: fit-content;
  font-size: 20px;
}
.design-concept .design-text-box2 {
  width: 100%;
  position: absolute;
  top: 750px;
  right: 0;
}
.design-concept .design-text-box2 .text {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.design-concept .design-text-box2 .text span {
  display: block;
  background-color: #fff;
  width: fit-content;
  font-size: 20px;
}

.design-concept .design-text-box1 li:nth-child(1),
.design-concept .design-text-box2 li:nth-child(1) {
  width: 400px;
  font-weight: 300;
  line-height: 1.8;
  font-family: var(--main-font-ko);
}

.design-concept .design-text-box1 li:nth-child(2) {
  position: absolute;
  top: 200px;
}
.design-concept .design-text-box1 li:nth-child(2) span:nth-child(2) {
  left: 100%;
}

.design-concept .design-text-box2 li:nth-child(1) {
  position: absolute;
  top: 50px;
  right: 0;
}
.design-concept .design-text-box2 .text .go-site {
  position: absolute;
  top: 150px;
  right: 0;
}
.design-concept .design-text-box2 li:nth-child(2) {
  position: absolute;
  top: 250px;
  right: 0;
}
.design-concept .design-text-box2 li:nth-child(2) span:nth-child(1) {
  position: absolute;
  right: 0;
}

/* ui-design */
.ui-design {
  position: relative;
}
.ui-design .design-img {
  width: 770px;
  height: 1000px;
  filter: grayscale(1);
  background-color: #fbfbf2;
  transition: 1s;
}
.ui-design .design-img:hover {
  filter: grayscale(0);
}
.ui-design .design-img img {
  width: 80%;
}
.ui-design .ui-text {
  width: 350px;
  text-align: left;
  font-weight: 300;
  position: absolute;
  top: 330px;
}
.ui-design .ui-text span {
  display: block;
  margin: 10px;
}

/* publishing-problems */
.publishing-problems {
  padding: 0 80px;
  border-bottom: 1px solid var(--point-color);
  position: relative;
}
.publishing-line {
  background-color: var(--point-color);
  width: 1px;
  height: 1135px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.publishing-problems > ul {
  display: flex;
  justify-content: center;
}
.publishing-problems > ul > li {
  width: 50%;
  padding: 70px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.publishing-problems .publishing {
  border-bottom: 1px solid var(--point-color);
}
.publishing-problems .problems {
  margin-bottom: 200px;
}
.publishing-problems .publishing-list {
  text-align: left;
  font-family: var(--main-font-ko);
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
}
.publishing-problems .publishing-list li {
  margin: 20px 0;
}
.publishing-problems .publishing-list li strong {
  font-weight: 400;
}
.btn-wrapper {
  width: 50%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
