@charset "utf-8";

/* 변수 선언 */
@import url(./variable.css);

body {
  font-family: var(--main-font-en);
  font-weight: 400;
  text-align: center;
  overflow-wrap: break-word;
  background-color: var(--main-color);
  color: var(--point-color);
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  vertical-align: top;
  transition: 0.5s;
}
.grid {
  display: grid;
  place-items: center;
}
